doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title About Pug
        link(rel="stylesheet", href="../css/style.css")
    body
        img(src="../img/dinos.png") 
        h2 ¿Quiénes somos?
        h1=name
        img(src = url, alt="Homer gordo")
        script(src="./js/index.js")